<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno4dStore</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="container" id="barrasup">
            <h1>Bruno4dStore</h1>
        </div>
        <div class = "menu_nav">
            <nav>
                <ul class="pei">
                    <li><a href="{{url_for('inicio')}}">Início</a></li>
                    <li><a href="{{url_for('produtos')}}">Produtos</a></li>
                    <li><a href="{{url_for('sobre')}}">Sobre</a></li>
                    <li><a href="{{url_for('contato')}}">Contato</a></li>
                    <li><a href="{{url_for('cadastro')}}">Cadastrar-se</a></li>
                    <li><a href="{{url_for('login')}}">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {%block conteudo%}
    {%endblock%}
    <main class="container">
    </main>

    <footer>
        <p>&copy; 2025 Bruno4dStore. Todos os direitos reservados.</p>
    </footer>
</body>
</html>